.photo {
  width: 18%;
  height: 18%;
  border: 1px solid #5856568b;
  margin: 10px;
  position: static;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.photo:hover{ 
  filter: brightness(70%);
}


.add-photo {
  width: 18%;
  height: 18%px;
  border: 1px dashed #5856568b;
  margin: 10px;
  position: static;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo.featured {
  height: 40%;
  width: 40%;
}

.photo.selected {
  filter: contrast(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.photo.selected .overlay {
  display: block;
  cursor: pointer;
}

.photo.selected::before {
  content: '\2713';
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px; 
  color: white; 
  z-index: 1;
}

.container.mt-4.mx-auto.rounded{
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.row{
 
  padding: auto;
} */
