.photo {
  width: 15%;
  height: 15%;
  border: 1px solid #5856568b;
  margin: 10px;
  position: static;
  cursor: pointer;
  border-radius: 5px;
}
.add-photo {
  width: 15%;
  /* padding-bottom: 10%;  */
  height: 150px;
  border: 1px dashed #5856568b;
  margin: 10px;
  position: static;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo.featured {
  height: 40%;
  width: 40%;
}

.photo.selected {
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.photo.selected .overlay {
  display: block;
  cursor: pointer;
}
